* {
	background-color: #afafaf;
}
.box-set, .box {
	border-radius: 10px;
}
.box-set {
	background-color: #eaeaed;
}
.box {
	color: #fff;
	border-radius: 100px;
	background-color: green;
	font-size: 24px;
	text-align: center;
	line-height: 80px;
	width: 80px;
	height: 80px;
	position: relative;
}
.box-1 {
	top: 50px;
}
.box-2 {
	left: 150px;
}
.box-3 {
	bottom: -40px;
	right: 20px;
}
.box-4 {
	left: 50%;
	bottom: 30px;
}