<!DOCTYPE html>

<html>
	<head>
		<title>New HTML5 Elements</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<header>
			<h1 style="text-align: center;">I'M HEADER</h1>
			<nav>
				<ul>
					<li>Home</li>
					<li>About Us</li>
					<li>Contact Us</li>
				</ul>
			</nav>
		</header>
		<div class="content">
			<section class="sport">
				<article>
					<h1>Sport header article 1</h1>
					<p>
						Jas sum 
						<a href="http://google.com" target="_blank">
							<span class="different__text">
								paragraf
							</span>
						</a>
					</p>
				</article>
				<article>
					<h1>Sport header article 2</h1>
				</article>
			</section>
			<section class="lifestyle">
				<article>
					<h1>Lifestyle header article 1</h1>
				</article>
				<article>
					<h1>Lifestyle header article 2</h1>
				</article>
			</section>
		</div>
		<aside>
			<h3>Sidebar left side</h3>
		</aside>
		<footer>
			<div>
				<p>Jas sum car na podzemjeto</p>				
			</div>
			<div class="different__text">
				<p>2016 SEDC</p>
			</div>
		</footer>
	</body>
</html>