* {
	margin: 0;
}
header, nav, section, aside, footer {
	border: 1px solid black;
	/*padding: 20px;*/
}
nav	{
	float: right;
	padding: 20px;
}
header {
	width: 100%;
	background-color: red;
	height: 150px;
}
#first-section {
	background-color: orange;
	width: 80%;
	height: 400px;
}
#right-sidebar {
	background-color: grey;
	width: 20%;
	height: 400px;
	float: right;
}
#second-section {
	background-color: green;
	width: 79%;
	height: 400px;
	float: right;
}
#left-sidebar {
	background-color: pink;
	width: 20.7%;
	height: 400px;
	float: left;
}
#table {	
	border: 1px solid black;
	margin-top: 10%;
	margin-left: 15%;
	background-color: cyan;
}
#table th, #table td {
	/*border: 1px solid black;*/
	height: 20px;
	width: 200px;
	text-align: left;
}
form {
	margin-top: 30.5%;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: 30%;
}
#button {
	float: right;
}
#left-sidebar div {
	margin-top: 20%;
	margin-left: 20%;
}
p {
	margin-top: 0%;
	margin-left: 45%;
}
#article-table {
	border-spacing: 30px;
	width: 99.7%;
	height: 99.7%;
}
#article-table td {
	background-color: yellow;
}
#subarticle-one {
	margin-left: 19%;
	margin-top: 5%;
	width: 25%;
	height: 30%;
	border: 1px solid black;

}
#subarticle-two {
	float: right;
	margin-right: 20%;
	margin-top: -19.6%;
	width: 25%;
	height: 30%;
	border: 1px solid black;
}
#third-section {
	background-color: lightgreen;
}
footer {
	background-color: skyblue;
	padding: 20px;
}
